"" 
# TeX/LaTeX intermediates # 
########################### 
*.*~ 
*.aux 
*.log 
*.tmp 
*.xref 
*.pdx 
*.pnd 
*.bbl 
*.bcf 
*.auto 
*.blg 
*.dvi 
*.glo 
*.out 
*.idx 
*.ilg 
*.ind 
*.idv 
*.4ct 
*.4tc 
*.lg 
*.xmpi 
*.tcp 
*.toc 
*.tps 
*.run.xml
*.sty
*.lof
*.lol
*.lot
*.gz
*.cls
*.txt
*.pdf
*.fls
*.fdb_latexmk
logos/
_minted-mscthesis
mscthesis.loa
svg-inkscape/